<h1>Single Event</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to @event.creator.username, "/users/#{@event.creator.id}" %></td>
        <td><%= @event.name %></td>
        <td><%= @event.location %></td>
        <td><%= @event.date %></td>
        <td><%= link_to 'Index', events_path %></td>
       </tr>
  </tbody>
</table>

<h2>List of attendees</h2>

<%= form_tag("/invite", method: "post", class: 'event_show_form') do %>
    <%= hidden_field_tag(:event_id, @event.id) %> 
    <%= text_field_tag :username, nil, placeholder: 'invite attendee by username' %>
    <%= submit_tag("invite") %>
<% end %> 

<% list_attendees = @event.attendees.pluck(:username, :email)%>

<table>
  <thead>
    <tr>
      <th>Attendee name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  
  <tbody>
    <% list_attendees.each do | attendee | %>
      <tr>
        <td><%= attendee[0] %></td>
        <td><%= attendee[1] %></td>
       </tr>
    <% end %>
  </tbody>

</table>