<h1>Single Event</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to @event.creator.username, "/users/#{@event.creator.id}" %></td>
        <td><%= @event.name %></td>
        <td><%= @event.location %></td>
        <td><%= @event.date %></td>
        <td><%= link_to 'Index', events_path %></td>
       </tr>
  </tbody>
</table>

<h2>List of attendees</h2>

<table>
  <thead>
    <tr>
      <th>Attendee name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.username %></td>
        <td><%= attendee.email %></td>
       </tr>
    <% end %>
  </tbody>
  
</table>